= turbo_frame_tag :form_post do
  .w-full.bg-white.p-4.rounded-md.mt-4
    %h1.text-mg.font-bold.text-2xl Editing post

    = render 'form', post: @post

    = link_to 'Show', @post, class: 'ml-2 rounded-md px-4 py-3 bg-gray-200 inline-block font-medium', data: { 'turbo-frame': 'form_post' }
    = link_to 'Back to Lists', posts_path, class: 'ml-2 rounded-md px-4 py-3 bg-gray-200 inline-block font-medium'
